extends layout
block content
    head
        div
            table.GridView2(style="width:900px;")
                tr
                    td(style="width:100px;",rowspan="8")
                    td
                        h1 HTML File Upload
                tr
                    td
                        input.btn(type="file",id="fileselect",name="fileselect",value="Borrow..",multiple="multiple",style="width:100%;")
                tr
                    td
                        div.filedrag(id="filedrag")
                            H7 Please drag and drop the file here.
                    td(rowspan="6",style="vertical-align: top;")
                        div Test
                tr
                    td
                        div.ListViewFile(id="ListViewFile")
                tr
                    td
                        div.messages(id="messages")
                tr
                    td
                        div.progressNumber(id="progressNumber")
                tr
                    td(style="text-align:right;")
                        input.btn(type="button",value="Upload",onclick="Upload();")
        br
        div
            table.GridView2(style="width:900px;")
                thead
                    tr
                        td(style="width:100px;")
                        td(style="width:180px;") FileName
                        td(style="width:180px;") FileType
                        td(style="width:180px;") FileSize/kb
                        td(style="width:180px;") UploadDate
                        td(style="width:120px;")
                tbody
                    each File in FileLists
                        tr
                            td(style="width:100px;")
                            td= File.filename
                            td= File.contentType
                            td= File.length
                            td=File.uploadDate
                            td
                                a(href="#",ObjectId=File._id,onclick="GetFiles(this);")
                                    span download
        script(src="./javascripts/upload-1.0.0.js")
        script.
            (function () {
                if (window.File && window.FileList && window.FileReader) {
                    var file = document.getElementById("fileselect");
                    var filedra = document.getElementById("filedrag");
                    var filelist = document.getElementById("ListViewFile");
                    var messages = document.getElementById("messages");
                    var progress = document.getElementById("progressNumber");
                    Init(file,filedra,filelist,messages,progress);
                }
            })();
            function GetFiles(e){
                var query ={"ObjectId": e.getAttribute("ObjectId")};
                $.ajax({
                    type:"post",
                    url:"GetFile",
                    contentType:"application/json",
                    data:JSON.stringify(query),
                    success:function(data){
                    }
                });
            }